<section class="divpelis">
  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideconfing">
    <div ngxSlickItem class="pelis" *ngFor="let pelis of arrayPelis"><a (click)="irPelis(pelis.id)">

      <h1 class="pelis_lista">{{pelis.title}}</h1>
      <img class="imagen" [src]="pelis.poster_path | addImage"></a>
      <button class="botondetalles" (click)="irPelis(pelis.id)">Detalles</button>

    </div>
  </ngx-slick>
</section>

<!--<button (click)="addSlide()">Add</button>-->
<!--<button (click)="removeSlide()">Remove</button>-->
<!--<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>-->
<!--<button (click)="slickModal.unslick()">unslick</button>-->
