header {
    position: fixed;
    display: inline-flex;
    width: 100%;
    height: 10%;
    background-color: #1c627a;
    align-content: center;
}
.botonpelis {
    font-family: "Roboto", sans-serif;
    width: 10rem;
    height: 3rem;
    margin-left: 2rem;
    border-radius: 50px;
    position: absolute;
    top: 25%;
    left: 0%;
    align-self: center;
    /*margin-left: 2rem;*/
    margin-right: 3.7rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}
app-formulario {
    alignment: left;
   position: absolute;
    right: 0%;
    bottom: 30%;
    margin-right: 2rem;

}
.botonpelis:hover {

    transform: scale(1.1);
    transition: 0.3s;
}
